.event-summary {
    width: 80vw;
    height: 20vh;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    border: .1em solid #3b352e;
    padding-left: 5%;
    background-color: #3b352e;
}

.summary-text {
    display: flex;
    flex-direction: column;
}