.event {
    width: 80vw;
    height: 88vh;
    border: .1em solid grey;
    border-radius: 1em;
    color: #3b352e;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.event * {
    color: #3b352e;
}

.text {
    color: #3b352e !important;
}

.event-info {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: center;
}

.event-image {
    max-width: 40vw;
}